.block__1 .slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.block__1 .slick-track {
  display: flex;
  align-items: flex-start;
}

.block__1 .slider {
  position: relative;
  padding: 0px 0px;
}

.block__1 .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.slider .slick-arrow.slick-disabled {
}

.block__1 .slider .slick-arrow.slick-prev {
  left: 30px;
  background: url(../img/block__1/icons/slide-arrow-prev.svg) 100% no-repeat;
}

.block__1 .slider .slick-arrow.slick-next {
  right: 30px;
  background: url(../img/block__1/icons/slide-arrow-next.svg) 100% no-repeat;
}

@media (max-width: 767px) {
  .block__1 .slider .slick-arrow.slick-next {
    right: 7px;
  }
  .block__1 .slider .slick-arrow.slick-prev {
    left: 7px;
  }
}

.block__1 .slider_item {
  text-align: center;
}

.block__1 .slider_item:focus,
.block__1 .slider_item:active {
  outline: none;
}

/*SLider__block__3*/

.block__3 .slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.block__3 .slick-track {
  display: flex;
  align-items: flex-start;
  height: 920px;
  @media (max-width: 767px) {
    height: 804px;
  }
  @media (max-width: 600px) {
    height: 947px;
  }
}

.block__3 .slider {
  position: relative;
  padding: 0px 0px;
}

.block__3 .slider .slick-arrow {
  position: absolute;
  bottom: -3%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  @media (max-width: 767px) {
    bottom: 1%;
  }
  @media (max-width: 601px) {
    bottom: -1%;
  }
}

.slider .slick-arrow.slick-disabled {
}

.block__3 .slider .slick-arrow.slick-prev {
  left: 43%;
  background: url(../img/block__1/icons/slide-arrow-prev.svg) 100% no-repeat;
}

.block__3 .slider .slick-arrow.slick-next {
  right: 43%;
  background: url(../img/block__1/icons/slide-arrow-next.svg) 100% no-repeat;
}

@media (max-width: 767px) {
  .block__3 .slider .slick-arrow.slick-next {
    right: 35%;
  }
  .block__3 .slider .slick-arrow.slick-prev {
    left: 35%;
  }
}

.block__3__slider {
}
.block__3 .slider_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0px;
  row-gap: 25px;
  justify-items: center;
  margin: 9px 0px;
}

.block__3 .slider_item .slider_item__link {
  display: block;
  outline: none;
}

.block__3 .slider_item .slider_item__link .title {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #222222;
  margin: 7px 0px 5px 0px;
}

.block__3 .slider_item .slider_item__link:hover {
  text-decoration: none;
}

.block__3 .slider_item .slider_item__link .text {
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: #999999;
}

.block__3 .slider_item .slider_item__link .text:hover {
  text-decoration: none;
}

.block__3 .slider_item .slider_item__link img {
  max-width: 350px;
  @media (max-width: 767px) {
    max-width: 243px !important;
    max-height: 180px !important;
  }
  @media (max-width: 600px) {
    max-width: 100% !important;
    max-height: 261px !important;
  }
}
@media (max-width: 1199px) {
  .block__3 .slider_item .slider_item__link img {
    max-width: 299px;
  }
}
@media (max-width: 991px) {
  .block__3 .slider_item .slider_item__link img {
    max-width: 331px;
    max-height: 230px;
  }
}

.block__3 .slider_item:focus,
.block__3 .slider_item:active {
  outline: none;
}

.block__3 .slider_item__container {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 10px 10px;
  max-width: 350px;
  transition: all ease 0.5s;
  padding-bottom: 15px;
  @media (max-width: 1200px) {
    max-width: 299px;
  }
  @media (max-width: 991px) {
    max-width: 332px;
  }
  @media (max-width: 767px) {
    max-width: 242px;
  }
  @media (max-width: 600px) {
    max-width: 499px;
    margin: 0px 5px;
  }
}

.block__3 .slider_item__container:hover {
  background: #000084;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.block__3 .slider_item__container:hover .title {
  color: #ffffff;
}
.block__3 .slider_item__container:hover .text {
  color: #cccccc;
}

.block__3 .slider_item__container:hover .text__link {
  outline: none;
  color: #ffffff;
  background: url(../img/block__3/icons/white-arrow-right.svg) no-repeat right
    34px bottom 5px;
}

.block__3 .slider_item__container:hover .text__link img {
  display: none;
}
.block__3 .slider_item__container:hover .text__link:hover {
  text-decoration: none;
}

.block__3 .slider_item__link .title {
  height: 55px;
  overflow: hidden;
}

.block__3 .slider_item__link .text {
  padding: 0px 0px;
}

.block__3 .slider_item__link__block {
  display: flex;
  flex-direction: column;
  height: 412px;
  position: relative;
  @media (max-width: 767px) {
    height: 342px;
  }
  @media (max-width: 600px) {
    height: 425px;
  }
  .top-text {
    padding: 5px 15px;
  }
}
.block__3 .slider_item__link__block .text__link {
  padding: 0px 20px;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #444444;
  width: 180px;
  margin: 0px 0px;
  position: absolute;
  bottom: 5px;
}

.block__3 .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Slider__block__4*/

.block__4 .slick-list {
  overflow: hidden;
}

.block__4 .slick-track {
  display: flex;
  align-items: flex-start;
  height: 390px;
  @media (max-width: 767px) {
    height: 332px;
  }
}
@media (max-width: 600px) {
  .block__4 .slick-track {
    height: 381px;
  }
}

.block__4 .slider {
  position: relative;
  padding: 0px 0px;
}

.block__4 .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.block__4 .slider .slick-arrow.slick-prev {
  left: -45px;
  background: url(../img/block__1/icons/slide-arrow-prev.svg) 100% no-repeat;
}

.block__4 .slider .slick-arrow.slick-next {
  right: -45px;
  background: url(../img/block__1/icons/slide-arrow-next.svg) 100% no-repeat;
}

@media (max-width: 767px) {
  .block__4 .slider .slick-arrow.slick-next {
    right: -45px;
  }
  .block__4 .slider .slick-arrow.slick-prev {
    left: -45px;
  }
}

@media (max-width: 600px) {
  .block__4 .slider .slick-arrow.slick-next {
    right: 35%;
  }
  .block__4 .slider .slick-arrow.slick-prev {
    left: 35%;
  }
  .block__4 .slider .slick-arrow {
    bottom: -3%;
    top: unset;
  }
}
@media (max-width: 480px) {
  .block__4 .slider .slick-arrow {
    bottom: 1%;
  }
}

.block__4 .slider_item {
  text-align: center;
}

.block__4 .slider_item:focus,
.block__4 .slider_item:active {
  outline: none;
}

.block__4_slider.slider {
  .slider_item {
    margin: 0px 10px 0px 10px;
    .img {
      max-width: 100%;
      width: 255px;
      height: 383px;
      @media (max-width: 1200px) {
        width: 213px;
        height: 330px;
      }
    }
    .slider_item__block {
    }
  }
}

/*Slider__block__5*/

.block__5 .slick-list {
  overflow: hidden;
}

.block__5 .slick-track {
  display: flex;
  align-items: flex-start;
  height: 390px;
  @media (max-width: 767px) {
    height: 332px;
  }
}
@media (max-width: 600px) {
  .block__5 .slick-track {
    height: 456px;
  }
}

.block__5 .slider {
  position: relative;
  padding: 0px 0px;
}

.block__5 .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.block__5 .slider .slick-arrow.slick-prev {
  left: -45px;
  background: url(../img/block__1/icons/slide-arrow-prev.svg) 100% no-repeat;
}

.block__5 .slider .slick-arrow.slick-next {
  right: -45px;
  background: url(../img/block__1/icons/slide-arrow-next.svg) 100% no-repeat;
}

@media (max-width: 767px) {
  .block__5 .slider .slick-arrow.slick-next {
    right: -45px;
  }
  .block__5 .slider .slick-arrow.slick-prev {
    left: -45px;
  }
}

@media (max-width: 600px) {
  .block__5 .slider .slick-arrow.slick-next {
    right: 35%;
  }
  .block__5 .slider .slick-arrow.slick-prev {
    left: 35%;
  }
  .block__5 .slider .slick-arrow {
    bottom: -3%;
    top: unset;
  }
}
@media (max-width: 480px) {
  .block__5 .slider .slick-arrow {
    bottom: 1%;
  }
}

.block__5 .slider_item {
  text-align: center;
}

.block__5 .slider_item:focus,
.block__5 .slider_item:active {
  outline: none;
}

/*Slider__block__6*/

.block__6 .slick-list {
  overflow: hidden;
}

.block__6 .slick-track {
  display: flex;
  align-items: flex-start;
  height: 390px;
  @media (max-width: 767px) {
    height: 332px;
  }
}
@media (max-width: 600px) {
  .block__6 .slick-track {
    height: 380px;
  }
}

.block__6 .slider {
  position: relative;
  padding: 0px 0px;
  margin: 35px 0px 0px 0px;
  @media (max-width: 600px) {
    margin: 20px 0px 0px 0px;
  }
}

.block__6 .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.block__6 .slider .slick-arrow.slick-prev {
  left: -45px;
  background: url(../img/block__1/icons/slide-arrow-prev.svg) 100% no-repeat;
}

.block__6 .slider .slick-arrow.slick-next {
  right: -45px;
  background: url(../img/block__1/icons/slide-arrow-next.svg) 100% no-repeat;
}

@media (max-width: 767px) {
  .block__6 .slider .slick-arrow.slick-next {
    right: -45px;
  }
  .block__6 .slider .slick-arrow.slick-prev {
    left: -45px;
  }
}

@media (max-width: 600px) {
  .block__6 .slider .slick-arrow.slick-next {
    right: 35%;
  }
  .block__6 .slider .slick-arrow.slick-prev {
    left: 35%;
  }
  .block__6 .slider .slick-arrow {
    bottom: -9%;
    top: unset;
  }
}

.block__6 .slider_item {
  text-align: center;
  margin: 0px 5px;
}

.block__6 .slider_item:focus,
.block__6 .slider_item:active {
  outline: none;
}

/*----------------*/

/*Slider__block__7*/

.block__7 .slick-list {
  overflow: hidden;
}

.block__7 .slick-track {
  display: flex;
  align-items: flex-start;
  height: 160px;
  background: #fafafa;
}
@media (max-width: 600px) {
  .block__7 .slick-track {
    height: 160px;
  }
}

.block__7 .slider {
  position: relative;
  padding: 0px 0px;
}

.block__7 .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

@media (max-width: 991px) {
  .block__7 .slider .slick-arrow {
    top: -25%;
  }
  .block__7 .slider .slick-arrow.slick-next {
    right: 19px !important;
  }
  .block__7 .slider .slick-arrow.slick-prev {
    right: 72px;
    left: unset !important;
  }
}

.block__7 .slider .slick-arrow.slick-prev {
  left: -45px;
  background: url(../img/block__1/icons/slide-arrow-prev.svg) 100% no-repeat;
}

.block__7 .slider .slick-arrow.slick-next {
  right: -45px;
  background: url(../img/block__1/icons/slide-arrow-next.svg) 100% no-repeat;
}

@media (max-width: 767px) {
}

@media (max-width: 600px) {
  .block__7 .slider .slick-arrow {
    top: -19%;
  }
}
@media (max-width: 480px) {
}

.block__7 .slider_item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 130px;
  display: flex;
  justify-content: center;
  margin: 0px 10px;
}

.block__7 .slider_item:focus,
.block__7 .slider_item:active {
  outline: none;
}
